body {
    font-family: Arial, sans-serif;
    background-color: #CCCCFF;
    padding: 20px;
}

.container {
    display: flex;
    margin: auto;
    gap: 50px;
}

.formContainer {
    width: 30%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-form {
    width: 100%;
}

.formContainer label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.formContainer input {
    width: 96%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.formContainer button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tableContainer {
    width: 70%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
}

#submit-button {
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td,
th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border: 2px solid;
}

th {
    background-color: #ADD8E6;
    color: black;
}

.editButton {
    background-color: #28a745;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}